// //Font
$mainFontSize: 12px;
$modalTitleFontSize: 30px;
$mainFont: 'Roboto', sans-serif;

// Dark theme colors
$DarkThemeBackgroundColor: #000000f5;
$DarkThemeBackgroundColorFooter: #1c1c1c;
$DarkThemeModalBackground: #131212;
$DarkThemeColorWhite: #ffffff;
$DarkThemeColorBlack: #000000;


//COLORS
//Main Colors
$textBlackColor: #000000;
$textWhiteColor: #ffffff;
$textFooterColor: #545454;
$textRedColor: #ff001b;
$whiteColor: #ffffff;
$blackColor: #000000;

//Background Colors
$bgMainColor: #ffffff;
$bgSecondaryColor: #f7f7f7;
$bgHeaderColor: rgba(0, 0, 0, 0.56);

//Modal Colors
$modalSubtitleColor: #8c8c8c;

//Icon
$icon-color: #818181;

//Accent colors
$accentColor: #ff6b08;
$btnHoverColor: rgba(255, 107, 1, 0.6);

// // Animation

$animationProps: 300ms ease-in-out 0s;

// // Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;