<section class="films-collection">
  <div class="container">
    <ul class="buttons__list">
      <li class="buttons__list__item">
        <button class="button buttons_trending" type="button" data-action="trending">
          Trending
        </button>
      </li>
      <li class="buttons__list__item">
        <button class="button buttons__top_rated" type="button" data-action="top_rated">
          Top Rated
        </button>
      </li>
      <li class="buttons__list__item">
        <button type="button" class="button buttons__upcoming" data-action="upcoming">
          Upcoming
        </button>
      </li>
    </ul>
    <ul class="collection"></ul>
  </div>
</section>
