<section class="films-collection">
  <div class="container">
    <ul class="buttons-list">
      <li class="buttons-list__item">
        <button class="button buttons-list__button" type="button" data-action="trending">
          Trending
        </button>
      </li>
      <li class="buttons-list__item">
        <button class="button buttons-list__button" type="button" data-action="top_rated">
          Top Rated
        </button>
      </li>
      <li class="buttons-list__item">
        <button type="button" class="button buttons-list__button" data-action="upcoming">
          Upcoming
        </button>
      </li>
    </ul>
    <ul class="collection"></ul>
  </div>
  <button type="button" class="scroll-top scroll-top_hide">
    <i class="fa-solid fa-angle-up"></i>
  </button>
</section>