<header class="header">
  <div class="container">
    <div class="header-box">
      <a class="header-box__link" href="">
        <svg class="header-box__icon" width="24" height="24">
          <use href="/images/svg/icons.svg#film"></use>
        </svg>
        <h1 class="header-box__title">Filmoteka</h1>
      </a>
      <ul class="header-list">
        <li class="header-list__item">
          <a class="header-list__link header-list__link--current" href="/index.html">HOME</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link library-link" href="#">MY LIBRARY</a>
        </li>
      </ul>
    </div>
    <form class="header-form">
      <label class="header-form__label">
        <input class="header-form__input" type="text" placeholder="Search movie" name="headerInput" />
        <button class="header-form__btn" type="submit">
          <svg class="header-form__icon" width="12" height="12">
            <use href="/images/svg/icons.svg#search"></use>
          </svg>
        </button>
      </label>
    </form>
    <label class="switch">
      <input type="checkbox" class="switch-checkbox">
      <span class="slider round"></span>
    </label>
  </div>
</header>