<header class="header-library visually-hidden">
  <div class="container header-library__container" data-controls>
    <nav class="library-navigation">
      <a class="library-navigation__logo" href="">
        <svg class="library-navigation__svg" width="24" height="24">
          <use href="/images/svg/icons.svg#film"></use>
        </svg>
        <p class="library-navigation__text">Filmoteka</p>
      </a>

      <ul class="library-navigation__list">
        <li class="library-navigation__item">
          <a class="library-navigation__link" href="/index.html">Home</a>
        </li>
        <li class="library-navigation__item">
          <a class="library-navigation__link header-list__link--current" href="">My library</a>
        </li>
      </ul>
    </nav>
    <div class="header-library__button-container">
      <ul class="header-library__button-list">
        <li class="header-library__button-item">
          <button type="button" class="button header-library__button" data-btn="watched">
            Watched
          </button>
        </li>
        <li class="header-library__button-item">
          <button type="button" class="button header-library__button" data-btn="queue">
            queue
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>