.item {
  position: relative;

  height: 462px;
  margin-bottom: 55px;
  cursor: pointer;
  transition: $animationProps;

  &:nth-last-child(-n + 1) {
    margin-bottom: 0px;
  }

  @include for-size(tablet) {
    width: 336px;
    margin: 0 30px 130px 0;

    &:nth-child(2n) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @include for-size(desktop) {
    width: 309px;
    margin-bottom: 95px;
    margin-right: 15px;

    &:nth-child(2n) {
      margin-right: 15px;
    }

    &:nth-child(3n) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
}

.item:hover,
.item:focus {
  transform: scale(1.03);

  .item__title {
    color: $accentColor;
  }
}

.item__box {
  height: 419px;
  overflow: hidden;

  @include for-size(tablet) {
    height: 500px;
  }

  @include for-size(desktop) {
    height: 461px;
  }
}

.item__img {
  width: 280px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);

  @include for-size(tablet) {
    width: 336px;
  }

  @include for-size(desktop) {
    width: 308px;
  }

  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.item__title {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.17;
  padding-top: 10px;
  transition: color 0.3s ease-in-out 0s;

  @include for-size(tablet) {
    line-height: 1.33;
  }
}

.wrapper {
  display: flex;
  justify-content: start;
  align-items: center;

  font-size: 12px;
  line-height: 1.33;
  color: $accentColor;
  padding: 1px 0;
}

.genres {
  display: flex;
  justify-content: start;
  margin-right: 3px;
}

.genres__item {
  margin-right: 5px;

  &:not(:last-child) {
    margin-right: 3px;

    &::after {
      content: ',';
      display: inline-block;
    }
  }
}

.item__year {
  width: 33px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: unset;

  &::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    margin-right: 5px;
    background-color: $accentColor;
  }
}

.item__rating {
  width: 36px;
  height: 16px;
  margin-left: 10px;
  padding-top: 1px;
  text-align: center;

  color: $textWhiteColor;
  line-height: 14px;
  background-color: $accentColor;
  border-radius: 5px;
}

.trailer__btn {
  font-size: 30px;
  opacity: 0.7;
  background-color: transparent;
  transition: font-size 150ms linear;
  padding: 0;

  position: absolute;
  top: 8px;
  left: 13px;
}
.trailer__btn:hover {
  opacity: 1;
  font-size: 50px;
}
.trailer__btn::before {
  color: #ff0019;
}

