.item {
  height: 462px;
  margin-bottom: 25px;

  cursor: pointer;
  transition: $animationProps;

  @include for-size(tablet) {
    width: 336px;
    margin: 0 17px 30px 0;
  }
  @include for-size(desktop) {
    width: 309px;
  }

  &:hover,
  &:focus {
    transform: scale(1.03);
    .item__title {
      color: $accentColor;
    }
  }
}

.item__box {
  height: 398px;
  overflow: hidden;
}

.item__img {
  width: 280px;
  @include for-size(tablet) {
    width: 336px;
  }
  @include for-size(desktop) {
    width: 309px;
  }
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.item__title {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.17;
  padding-top: 10px;
  transition: color 0.3s ease-in-out 0s;

  @include for-size(tablet) {
    line-height: 1.33;
  }
}

.wrapper {
  display: flex;
  justify-content: start;
  align-items: center;

  font-size: 12px;
  line-height: 1.33;
  color: $accentColor;
  padding: 1px 0;
}

.genres {
  display: flex;
  justify-content: start;
  margin-right: 3px;
}

.genres__item {
  margin-right: 5px;
  &:not(:last-child) {
    margin-right: 3px;
    &::after {
      content: ',';
      display: inline-block;
    }
  }
}

.item__year {
  width: 33px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: unset;

  &::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    margin-right: 5px;
    background-color: $accentColor;
  }
}

.item__rating {
  width: 36px;
  height: 16px;
  margin-left: 10px;
  padding-top: 1px;
  text-align: center;

  color: $textWhiteColor;
  line-height: 14px;
  background-color: $accentColor;
  border-radius: 5px;
}
