// Custom checkbox for switch dark style
.header-form__switch {
  position: absolute;
  top: 35px;
  right: 0;
  margin-right: 32px;
  display: block;
  width: 60px;
  height: 34px;

  @include for-size(tablet-up) {
    margin-right: 20px;
  }
}

.header-form__switch input {
  display: none;
}

.header-form__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(#393939, $alpha: 0.85);
  -webkit-transition: .4s;
  transition: .4s;
}

.header-form__slider:before {
  position: absolute;
  font-size: 15px;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .3s;
}

input:checked+.header-form__slider {
  background-color: rgba($accentColor , $alpha: 0.85);
}

input:focus+.header-form__slider {
  box-shadow: 0 0 1px $accentColor;
  background-color: #ffffff;
}

input:checked+.header-form__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #393939;
  content: '';
}

.header-form__slider.header-form__slider--round {
  border-radius: 34px;
}

.header-form__slider.header-form__slider--round:before {
  border-radius: 50%;
}

// End custom checkbox for switch dark style