.films-collection {
  padding: 20px 0 40px 0;

  @include for-size(tablet) {
    padding: 60px 0 50px 0;
  }
}

.collection {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__background {
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;
    transition: $animationProps;
    border-radius: 55px;
  }

  &__img {
    cursor: pointer;
    overflow: hidden;
    border-radius: 55px;
    transition: $animationProps;
  }

  &__title {
    position: absolute;
    top: 30%;
    left: 3%;
    text-align: center;
    font-size: xx-large;
    animation: appearance 2250ms ease-in-out 250ms;
    color: rgb(255 118 0 / 83%);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition: $animationProps;

    opacity: 1.2;

    &:hover {
      transform: scale(1.13);
    }
  }
}

@keyframes appearance {
  0% {
    transform: scaleX(1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-22deg);
    transform: scale3d(0.9, 1.1, 0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(22deg);
    transform: scale3d(1.1, 1.3, 1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-22deg);
    transform: scale3d(1.1, 1.2, 1.1) rotate(-3deg);
  }
}