// Dark style for document elements
.dark {
  background: $DarkThemeBackgroundColor  !important;
  color: $DarkThemeColorWhite  !important;
}

.dark-header {
  box-shadow: 0px 0px 1px 0px #ffffff !important;
}

.dark-headerMyLib {
  box-shadow: 0px 0px 1px 0px #ffffff !important;
}

.dark-footer {
  background: #1c1c1c !important;
  color: $DarkThemeColorWhite  !important;
  box-shadow: 0px 0px 1px 0px #ffffff !important;

}

.dark-scroll-top {
  background: transparent !important;
  color: $DarkThemeColorWhite  !important;
}

.dark-modal {
  background: $DarkThemeModalBackground  !important;
  border: 0.5px solid rgba($color: #ffffff, $alpha: 0.3);
}

.dark-modalCloseBtn {
  color: $DarkThemeColorWhite  !important;

  &:hover {
    color: $accentColor  !important;
  }
}

.dark-modalBackdrop {
  background-color: rgba(100, 100, 100, 0.1) !important;
}
// End dark style for document elements

// Dark style for modal elements
body.dark .modal {
  .modal-title {
    color: $DarkThemeColorWhite;
  }

  .modal-img {
    border: 0.5px solid rgba($color: #ffffff, $alpha: 0.3);
  }

  .modal-values {
    color: $DarkThemeColorWhite;
  }

  .modal-votes {
    color: $DarkThemeColorBlack;
  }

  .modal-overview {
    color: $DarkThemeColorWhite;
  }

  .modal-text {
    color: $DarkThemeColorWhite;
  }

  .modal-btn__watched {
    border-color: $DarkThemeColorWhite;
    color: $DarkThemeColorWhite;
    &:hover {
      border: 1px solid transparent;
    }
  }

  .modal-btn__queue {
    border-color: $DarkThemeColorWhite;
    color: $DarkThemeColorWhite;

        &:hover {
      border: 1px solid transparent;
    }
  }
}
// End dark style for modal elements

// Films collection style
body.dark .films-collection {
  .item__img {
    border: 0.5px solid rgba($color: #ffffff, $alpha: 0.3);
  }
}