.footer {
  margin-top: auto;
  font-family: $mainFont;
  font-size: 16px;
  line-height: 1.18;
  color: $textFooterColor;
  padding: 34px 0;
  text-align: center;
  box-shadow: 0px 0px 1px 0px #000000;
  background-color: $bgSecondaryColor;
}

@include for-size(tablet-up) {
  .footer__text-span {
    display: block;
    margin-bottom: 13px;
  }
}

.footer_icon {
  fill: #ff6b08;
  margin: 0 10px;
  animation: heartAnimation 1s ease infinite;
}

.footer__link {
  cursor: pointer;
  text-decoration: underline;
}

@keyframes heartAnimation {
  0% {
    transform: scale(1.25);
  }

  20% {
    transform: scale(1.5);
  }

  40% {
    transform: scale(1.25);
  }

  60% {
    transform: scale(1.5);
  }

  80% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1.25);
  }
}