.footer {
  margin-top: auto;
  font-family: $mainFont;
  font-size: 16px;
  line-height: 1.18;
  color: $textFooterColor;
  padding: 34px 0;
  text-align: center;
  box-shadow: 0px 0px 1px 0px #000000;
  background-color: $bgSecondaryColor;
}

.footer_icon {
  fill: #ff6b08;
  margin: 0 10px;
  animation: heartAnimation 1s ease infinite;
}

.footer__link {
  cursor: pointer;
  text-decoration: underline;
}

@keyframes heartAnimation {
  from {
    transform: scale(2);
  }

  to {
    transform: scale(1);
  }
}