.header {
  padding-top: 40px;
  box-shadow: 0px 0px 1px 0px #000000;

  @include for-size(tablet-up) {
    padding-bottom: 77px;
  }

  @include for-size(tablet) {
    padding-bottom: 65px;
  }

  max-width: 100%;
  max-height: 320px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
  url(../images/Mobile/home-mob-background.jpg);
  // @include for-size(mobile) {
  //     background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
  //         url(../images/Mobile/home-mob-background.jpg);

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/Mobile/home-mob-background-x2.jpg);
  }

  @media screen and (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/Mobile/home-mob-background-x3.jpg);
  }

  // }

  @include for-size(tablet) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/Tablet/home-tablet-background.jpg);

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/Tablet/home-tablet-background-x2.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/Tablet/home-tablet-background-x3.jpg);
    }
  }

  @include for-size(desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/Desktop/home-background.jpg);

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/Desktop/home-background-x2.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/Desktop/home-background-x3.jpg);
    }
  }
}

.header-box {
  display: flex;
  align-items: center;

  @include for-size(tablet-up) {
    justify-content: space-between;
  }

  @include for-size(tablet-up) {
    justify-content: space-between;
    margin-bottom: 54px;
  }

  @include for-size(tablet) {
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

.header-box__link {
  display: flex;
  align-items: center;
}

.header-box__icon {
  @include for-size(tablet) {
    margin-right: 8px;
  }

  @include for-size(desktop) {
    margin-right: 10px;
  }
}

.header-box__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: $textWhiteColor;

  @include for-size(mobile) {
    display: none;
  }

  @include for-size(tablet) {
    display: block;
  }
}

.header-list {
  display: flex;

  @include for-size(tablet) {
    margin-left: auto;
  }
}

.header-list__item {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.header-list__link {
  color: $textWhiteColor;

  &--current::after {
    position: absolute;
    bottom: -2px;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $accentColor;
  }
}

.header-form {
  margin-bottom: 15px;
  text-align: center;
}

.header-form__label {

  position: relative;

  @include for-size(tablet) {
    display: inline-flex;
    justify-content: space-between;
  }
}

.header-form__input {

  @include for-size(tablet-up) {
    width: 100%;
  }

  @include for-size(tablet) {
    width: 336px;
  }
  margin-bottom: 30px;
  padding-bottom: 5px;
  cursor: pointer;
  outline: none;
  border-color: transparent;
  border-bottom: 0.5px solid #fff;
  background-color: transparent;
  color: $textWhiteColor;
  transition: border-color 250ms linear;

  &::placeholder {
    padding-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $textWhiteColor;
  }

  &:focus {
    border-bottom-color: $accentColor;
  }
}

.header-form__btn {
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  width: 20px;
  height: 20px;
  right: 2px;

}

.header-form__icon {
  position: absolute;
  top: 4px;
  right: 2px;

}

.genres-form {
  display: flex;
  justify-content: center;
}

.genres-form__select {
  cursor: pointer;
  width: 170px;
    border-radius: 4px;
    color: darkmagenta;
   background-color: transparent;
   border-color: transparent;
    border-bottom: 0.5px solid #fff;
    transition: border-color 250ms linear;

      &:focus {
          border-bottom-color: $accentColor;
        }

}