.btn {
  border: none;
  border-radius: 5px;

  text-decoration: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 1;

  transition: opacity $animationProps;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  &.is-hidden {
    // visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform $animationProps;

  
  // filter: drop-shadow(0 8px 7px black);

  width: 280px;
  // height: 940px;
  padding-top: 48px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  border-radius: 5px;

  background-color: $bgMainColor;
  @include for-size(tablet-up) {
    max-height: 95%; //todo
    overflow-y: auto;
  }

  @include for-size(tablet) {
    width: 704px;
    
    height: 505px; //?

    padding-top: 40px;
    padding-right: 72px;
    padding-bottom: 40px;
    padding-left: 36px;
  }

  @include for-size(desktop) {
    width: 814px;
    
    height: 558px; //?

    padding-top: 40px;
    padding-right: 16px;
    padding-bottom: 40px;
    padding-left: 16px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background: transparent;
  color: $blackColor;

  transition: color $animationProps, transform $animationProps;

  &:hover,
  &:focus {
    color: $accentColor;
    transform: scale(1.3);
  }
}

.modal__icon {
  stroke: currentColor;
}

.modal-container {
  @include for-size(tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.modal-img {
  width: 240px;
  height: 357px;
  object-fit: cover;
  border-radius: 5px;

  @include for-size(tablet) {
    width: 264px;
    height: 373px;
  }

  @include for-size(desktop) {
    width: 375px;
    height: 478px;
  }
}

.modal-description {
  width: 240px;

  @include for-size(tablet-up) {
    margin-top: 20px;
  }

  @include for-size(tablet) {
    width: 264px;
  }

  @include for-size(desktop) {
    width: 391px;
  }
}

.modal-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: $textBlackColor;

  margin-top: 0;
  margin-bottom: 20px;

  @include for-size(desktop) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.modal-list {
  margin-bottom: 20px;
}

.modal-item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.modal-key {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $modalSubtitleColor;

  width: 70px;
  margin-right: 38px;

  @include for-size(desktop) {
    margin-right: 82px;
  }
}

.modal-values {
  display: flex;
  align-items: center;
  width: 107px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: $textBlackColor;
  @include for-size(tablet) {
    width: 160px;
  }
  @include for-size(desktop) {
    width: 190px;
  }
}

.modal-vote {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $textWhiteColor;
  background-color: $accentColor;

  width: 36px;
  height: 16px;
  border-radius: 5px;
}

.modal-slash {
  margin: 0 2px;
  color: $modalSubtitleColor;
  line-height: 1.33;
}

.modal-votes {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $bgSecondaryColor;
  min-width: 36px;
  height: 16px;
  border-radius: 5px;
}

.modal-overview {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  text-transform: uppercase;

  color: $textBlackColor;

  margin-bottom: 20px;
}

.modal-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-transform: none;

  color: $textBlackColor;

  margin-top: 8px;
  max-height: 236px;
  overflow-y: auto;
}

.modal-buttons {
  display: flex;

  @include for-size(desktop) {
    padding-left: 8px;
  }
}

.modal-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;


  width: 110px;
  height: 44px;
  text-transform: uppercase;
  color: $textBlackColor;
  background: transparent;

  padding: 0 7px;


  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid $textBlackColor;

  transition: color $animationProps, background-color $animationProps;

  @include for-size(tablet) {
    width: 125px;
  }

  @include for-size(desktop) {
    width: 136px;
  }

  &:hover,
  &:focus {
    border: transparent; //none
    background-color: $accentColor;

    color: $textWhiteColor;
  }

  &:not(:last-child) {
    margin-right: 15px;
  }
}