body.show-modal .backdrop-team {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    position: fixed;
}

body.show-modal .modal-team {
    transform: scale(1);
}

.backdrop-team {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity $animationProps, visibility $animationProps;


}

.modal-team {

    padding: 15px;
    border-radius: 4px;
    max-width: 650px;
    max-height: 850px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    overflow-y: auto;
    transform: scale(1.1);
    transition: transform $animationProps;

    @include for-size(tablet) {
        padding: 25px;
    }

    @include for-size(desktop) {
        max-width: 850px;
    }
}

.team-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    width: 30px;
    height: 30px;

    background: transparent;
    color: $blackColor;

    transition: color $animationProps, transform $animationProps;

    &:hover,
    &:focus {
        color: $accentColor;
        transform: scale(1.3);
    }

    @include for-size(desktop) {
        width: 40px;
        height: 40px;
    }
}

.title-team {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;

    color: $accentColor;

    @include for-size(desktop) {
        font-size: 30px;
        margin-bottom: 20px;
    }

}

.list-team {
    @include for-size(tablet) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: calc(-1 * 15px);
        margin-left: calc(-1 * 15px);
    }

}

.team-item {
    @include for-size(tablet) {
        flex-basis: calc(100% / 2 - 15px);
        margin-top: 15px;
        margin-left: 15px;
    }

    @include for-size(desktop) {
        flex-basis: calc(100% / 3 - 15px);

    }

    height: auto;
}


.team-box {
    padding: 10px;
    // display: flex;
    // flex-wrap: wrap;
    width: 100%;
    color: black;
    transition: transform $animationProps, box-shadow $animationProps;
    float: left;
    border-radius: 5%;
    &:hover,
    &:focus {
        transform: scale(1.1);
        box-shadow: 0 15px 15px -5px rgba(255, 107, 1, 0.6);
    }
}

.avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5%;
    margin: auto;
}



.team-name {
    font-size: 18px;

    @include for-size(desktop) {
        font-size: 22px;
    }
}

.team-role {
    font-size: 15px;
    color: $accentColor;

    @include for-size(desktop) {
        font-size: 18px;
    }
}

.team-text {
    font-size: 12px;
    font-style: italic;

    @include for-size(desktop) {
        font-size: 15px;
    }
}