.scroll-top {
  position: fixed;
  z-index: 999;
  bottom: 150px;
  right: 25px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  transition: opacity 500ms linear, color 150ms linear;

  opacity: 0.4;

  @include for-size(desktop) {
    font-size: 50px;
  }

  &:hover {
    color: $accentColor;
  }

  &_hide {
    opacity: 0;
    cursor: auto;
  }
}