.buttons__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  @include for-size(tablet) {
    flex-direction: row;
  }
}

.buttons__list__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @include for-size(tablet) {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}

.buttons_trending,
.buttons__top_rated,
.buttons__upcoming {
  padding: 15px 50px;
  border: 1px solid burlywood;
  background-color: transparent;
  background-color: aliceblue;

  @include for-size(tablet) {
    padding: 15px 50px;
    font-size: 14px;
  }

  @include for-size(desktop) {
    padding: 20px 60px;
    font-size: 14px;
  }

  &:hover,
  &:focus {
    font-size: 14px;
    font-weight: 700;
    color: rgba(240, 32, 5, 0.4);
    transform: scale(1.03);
    box-shadow: rgba(248, 157, 21, 0.2) 0px 20px 40px -7px;
  }
}
