.buttons__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  @include for-size(tablet) {
    flex-direction: row;
  }
}

.buttons__list__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @include for-size(tablet) {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}

.buttons_trending,
.buttons__top_rated,
.buttons__upcoming {
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;

  &:hover,
  &:focus {
    border-color: rgba($color: $accentColor, $alpha: 0.7);
    transform: scale(1.02);
  }
}
