.buttons-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

  @include for-size(tablet) {
    flex-direction: row;
  }
}

.buttons-list__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @include for-size(tablet) {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}


.buttons-list__button {
  text-decoration: none;
  display: inline-block;

  position: relative;
  color: black;
  padding: 10px 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0;

  @include for-size (tablet) {
    padding: 20px 30px;
  }
}

.buttons-list__button:before,
.buttons-list__button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.buttons-list__button:before {
  bottom: 0;
  left: 0;
  border-left: 2px solid $accentColor;
  border-top: 2px solid $accentColor;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.buttons-list__button:after {
  top: 0;
  right: 0;
  border-right: 2px solid $accentColor;
  border-bottom: 2px solid $accentColor;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.buttons-list__button:hover:before,
.buttons-list__button:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.buttons-list__button:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.buttons-list__button:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.buttons-list__button:hover {
  background: rgba(250, 250, 250, .1);
}